<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Solicitudes </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Depto
              </th>
              <th>
                Usuario
              </th>
              <th>
                Equipo
              </th>
              <th>
                Descripción
              </th>
              <th>
                Estado
              </th>
              <th>
                Acción
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let solicitud of solicitudes | paginate: { itemsPerPage:3, currentPage: page}">
                <td>
                  {{ solicitud.departamento }}
                </td>
                <td>
                  {{ solicitud.usuario }}
                </td>
                <td>
                  {{ solicitud.equipo }}
                </td>
                <td>
                  {{ solicitud.descripcion }}
                </td>
                <td [ngStyle]="getColorStyles(solicitud.estadoActual)">
                  {{ solicitud.estadoActual }}
                </td>
                <td style="width: 30mm;">
                  <i (click)="verSolicitud(solicitud.id)" class="nc-icon nc-minimal-right icon-zoom"></i>

                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <pagination-controls (pageChange)="onPageChange($event)" previousLabel=&laquo;
          nextLabel=&raquo;></pagination-controls>
      </div>
    </div>
  </div>
</div>