.icon-zoom {
    cursor: pointer;
  }

  label:hover {
    cursor: pointer;
  }
  
  .icon-zoom:hover {
    transform: scale(2);
  }
  


  

  

  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .close-button:focus {
    outline: none;
  }
  