<div *ngIf="buscando">
    <span class="sr-only">Loading...</span>
</div>
<div *ngIf="errorNotFound">
    <div class="alert alert-danger">
        Ha ocurrido un error!!!
    </div>
    <div>
        <button (click)="volver()" class="btn btn-primary">Volver</button>
    </div>
</div>
<div *ngIf="usuario" class="row">
    <div class="col-sm-6 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Usuario</h4>
            </div>
            <div *ngIf="usuario" class="card-body">
                <div>
                    <strong>Departamento: </strong>
                    <span>{{ usuario.userName }}</span>
                </div>
                <div>
                    <strong>Email: </strong>
                    <span>{{ usuario.email }}</span>
                </div>
                <div>
                    <strong>Es administrador: </strong>
                    <input [(ngModel)]="usuario.esAdmin" class="form-check-input" type="checkbox" role="switch"
                        [disabled]="!usuario.habilitado" title="Marcar como administrador y presionar guardar">
                </div>
                <div>
                    <strong>Está habilitado: </strong>
                    <input [(ngModel)]="usuario.habilitado" class="form-check-input" type="checkbox" role="switch"
                        disabled title="Indica si está habilitado">
                </div>

                <div>
                    <a href="javascript:void(0)" (click)="mostrarModalReset()">Resetear contraseña</a>
                </div>

                <button (click)="volver()" class="btn btn-primary">Volver</button>
                <button (click)="guardar()" class="btn btn-primary">
                    <span *ngIf="mostrarSpinner" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #modalResetPassword let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Cambio de contraseña</h5>
            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"
                (click)="modal.close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="miFormulario" (ngSubmit)="modal.close('send')">
                <div class="form-group">
                    <p>{{ capitalizarPrimeraLetra(usuario.userName) }}</p>
                </div>
                <div class="form-group">
                    <input [type]="verPass1 ? 'text' : 'password'" class="form-control" id="password1" formControlName="password1"
                        autocomplete="off" placeholder="Ingrese una contraseña">
                        <div class="input-group-addon">
                            <i (click)="verPass1=!verPass1" class="fa fa-eye{{ verPass1 ? '-slash' : '' }}" aria-hidden="true"></i>
                        </div>

                    <span *ngIf="passwordNoValido('password1')" class="form-text text-danger">
                        {{ passErrorMsg }}
                    </span>

                </div>
                
                <div class="form-group">
                    <input [type]="verPass ? 'text' : 'password'" class="form-control" id="password2" formControlName="password2"
                        autocomplete="off" placeholder="Vuelva a escribir la contraseña">
                        <div class="input-group-addon">
                            <i (click)="verPass=!verPass" class="fa fa-eye{{ verPass ? '-slash' : '' }}" aria-hidden="true"></i>
                        </div>

                    <span *ngIf="password2NoValido('password2')" class="form-text text-danger">
                        {{ pass2ErrorMsg }}
                    </span>

                </div>

                <button type="submit" class="btn btn-primary">
                    <span *ngIf="mostrarSpinner" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    Guardar
                </button>
            </form>
        </div>
    </div>
</ng-template>