<p>chat-admin works!</p>
<h1>Chat</h1>

<div class="row">
  <div class="col-md-8">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action" *ngFor="let message of chatList">
        {{ message.userName }}: {{ message.message }}
      </a>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-8">
    <input [(ngModel)]="message" placeholder="Escribe un mensaje..." class="form-control" (keyup.enter)="sendMessage()">
  </div>
  <div class="col-md-4">
    <button (click)="sendMessage()" class="btn btn-primary">Enviar</button>
  </div>
  <div class="col-md-4">
    <button (click)="connect()" class="btn btn-primary">Entrar</button>
  </div>
</div>
