.circle-green {
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.circle-grey {
    background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}