<div class="row">
    <div class="card col-md-3 rounded-0">
        <div class="card-header">
            <h4 class="card-title">Usuarios</h4>
        </div>
        <div class="card-body">
            <ul class="list-group-flush" style="max-height: 300px; overflow-y: auto;">
                <li *ngFor="let usr of usersChats" [class.selected]="usr === selectedUser" (click)="selectUserChat(usr)">
                    {{ usr | uppercase }}
                </li>
            </ul>
        </div>
    </div>
    <div class="card col-md-5 rounded-0">
        <div class="card-header">
            <h4 class="card-title">{{ selectedUser | uppercase }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-group-flush" id="messageList">
                <li *ngFor="let message of messages" class="list-group-item">
                    <strong>{{ message.sender }}</strong> {{ message.content }} <small> {{ message.timestamp | date:
                        'short' }}</small>
                </li>
            </ul>
        </div>
        <div class="input-group">
            <input #messageInput type="text" class="form-control bg-light border-0" placeholder="Escribe un mensaje"
                [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">

            <div class="input-group-append mr-5">
                <button class="btn btn-primary mr-5" type="button" (click)="sendMessage()">
                    Enviar
                </button>
            </div>
        </div>
    </div>
</div>