<div class="row">
    <div class="card col-md-3 rounded-0">
        <div class="card-body">
            <ul class="list-group" style="max-height: 300px; overflow-y: auto;">
                <li *ngFor="let user of userList" [class.selected-user]="user === userChatActual"
                    class="list-group-item" (click)="selectUserChat(user)">{{user | uppercase}}</li>
            </ul>
        </div>
    </div>
    <div class="card col-md-5 rounded-0">
        <div class="card-header">
            <h4 class="card-title">{{ userChatActual | uppercase }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-group-flush" id="messageList">
                <li *ngFor="let message of conversation" class="list-group-item">
                    <div><strong>{{message.userName}}:</strong> {{message.message}}</div>
                </li>
            </ul>
        </div>
        <div class="input-group">
            <input #messageInput type="text" class="form-control bg-light border-0" placeholder="Escribe un mensaje"
                [(ngModel)]="messageToSend" (keyup.enter)="sendMessage()" (input)="onTyping($event)">

            <div class="input-group-append mr-5">
                <button class="btn btn-primary mr-5" type="button" (click)="sendMessage()">Enviar</button>
            </div>
        </div>
        <span *ngIf="isTyping" class="text-muted">El otro usuario está escribiendo...</span>
    </div>
</div>