<div *ngIf="isLoggedIn">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href=# class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="">
        </div>
      </a>
      <div class="simple-text logo-normal">
        {{ usrName }} <i class="nc-icon nc-laptop"></i>
      </div>
    </div>
    <ul class="nav">
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
        <a *ngIf="isAdmin || (!isAdmin && !menuItem.admin)" [routerLink]="[menuItem.path]">
          <i class="nc-icon {{menuItem.icon}}"></i>
          <p>{{menuItem.title}}</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/chat']">
          <div class="indicator-icon">
            <i class="nc-icon nc-chat-33"></i>
            <p>Chat</p>
            <span *ngIf="anyGroupHasNewMessages && isAdmin" class="indicator"></span>
            <span *ngIf="newMessageIndicators[usrName] && !isAdmin" class="indicator"></span>
          </div>
        </a>
      </li>
    </ul>
    


  </div>
</div>
<div>
  {{isLoggedIn}}
</div>