.icon-zoom {
    cursor: pointer;
  }

  label:hover {
    cursor: pointer;
  }
  
  .icon-zoom:hover {
    transform: scale(2);
  }

  .pdf-table {
    font-size: 12px;
  }
  
  .pdf-table th, .pdf-table td {
    padding: 5px;
  }
  

