<div class="row-cols-3">
  <div class="text-center">
    <p><button class="btn btn-primary" (click)="mostrarModalInfo()">Modal para informar</button></p>
    <p><button class="btn btn-primary" (click)="mostrarModalConf()">Modal de confirmacion</button></p>
  </div>
</div>


<ng-template #myModalInfo let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Reportar problema</h5>
      <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="solicitudesForm" (ngSubmit)="modal.close('send')">
        <div class="form-group">
          <input type="text" class="form-control" id="usuario" formControlName="usuario" autocomplete="off"
            placeholder="Ingrese su nombre">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="equipo" formControlName="equipo" autocomplete="off"
            placeholder="Ingrese el nombre del equipo">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="descripcion" formControlName="descripcion" autocomplete="off"
            placeholder="Ingrese una descripción del problema"></textarea>
        </div>
        <div class="form-group">
          <label for="imagen">Imagen:</label>
          <input type="file" id="imagen" (change)="onFileSelected($event)" formControlName="imagen">
          <img *ngIf="imagenBase64" [src]="imagenBase64" alt="Imagen cargada">
        </div>
        <button [disabled]="!solicitudesForm.valid" type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #myModalConf let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Éxito</h5>
      <button class="btn btn-primary" type="button" data-dismiss="modal" aria-label="Close"
        (click)="modal.close('Cerrado desde la ventana')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      ¿Quieres confirmar la informacion? (Mira el resultado en consola)
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('No')">No</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('Si')">Si</button>
    </div>
  </div>
</ng-template>