<div class="row-cols-3">
  <div class="text-center">
    <p><button class="btn btn-primary" (click)="mostrarModalInfo()">Modal para informar</button></p>
    <p><button class="btn btn-primary" (click)="mostrarModalConf()">Modal de confirmacion</button></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Solicitudes </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Usuario
              </th>
              <th>
                Equipo
              </th>
              <th>
                Descripción
              </th>
              <th>
                Estado
              </th>
              <th>
                Imágen
              </th>
              <th>
                Acción
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let solicitud of misSolicitudes">
                <td>
                  {{ solicitud.usuario }}
                </td>
                <td>
                  {{ solicitud.equipo }}
                </td>
                <td>
                  {{ solicitud.descripcion }}
                </td>
                <td>
                  {{ solicitud.estadoActual }}
                </td>
                <td style="width: 50mm;">
                  <img *ngIf="solicitud.urlImagen != null" [src]="solicitud.urlImagen" alt="Imagen guardada"
                    style="max-width: 100px; max-height: 100px;">
                </td>
                <!--
                <td  style="width: 30mm;">
                  <i (click)="ver()" class="nc-icon nc-zoom-split icon-zoom"></i>
                  <i (click)="chat()" class="nc-icon nc-chat-33 icon-zoom" style="margin-left: 5mm;"></i>
                </td>
              -->
                <td style="width: 30mm;">
                  <i (click)="ver()" class="nc-icon nc-zoom-split icon-zoom"></i>
                  <i (click)="toggleChat()" class="nc-icon nc-chat-33 icon-zoom" style="margin-left: 5mm;"></i>
                  <div class="chat-window" *ngIf="mostrarChat">
                    <!-- Contenido de la ventana de chat -->
                    <div class="chat-window-content">
                      <div class="chat-header">
                        <button class="close-button" (click)="toggleChat()">&times;</button>
                      </div>
                      <div class="chat-conversation">
                        <ul class="list-group" id="message-list">
                          <li *ngFor="let mensaje of messages" class="list-group-item">{{ mensaje }}</li>
                        </ul>
                      </div>
                      <div class="chat-input">
                        <input  #messageInput type="text" class="form-control" placeholder="Escribe un mensaje" [(ngModel)]="message" (keyup.enter)="sendMessage()">
                        <button class="btn btn-primary" (click)="sendMessage()">Enviar</button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #myModalInfo let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Reportar problema</h5>
      <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="solicitudesForm" (ngSubmit)="modal.close('send')">
        <div class="form-group">
          <input type="text" class="form-control" id="usuario" formControlName="usuario" autocomplete="off"
            placeholder="Ingrese su nombre">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="equipo" formControlName="equipo" autocomplete="off"
            placeholder="Ingrese el nombre del equipo">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="descripcion" formControlName="descripcion" autocomplete="off"
            placeholder="Ingrese una descripción del problema"></textarea>
        </div>
        <div class="form-group">
          <label for="imagen">Imagen (opcional)</label>

          <input type="file" name="imagen" (change)="onFileSelected($event)" formControlName="imagen"
            accept=".png, .jpg, .jpeg, .gif" />
          <!-- Mostrar la imagen cargada -->
          <img *ngIf="imagenURL" [src]="imagenURL" alt="Imagen cargada">
          <!-- Otros campos del formulario -->

        </div>
        <button [disabled]="!solicitudesForm.valid" type="submit" class="btn btn-primary">
          <span *ngIf="mostrarSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Enviar
        </button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #myModalConf let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Éxito</h5>
      <button class="btn btn-primary" type="button" data-dismiss="modal" aria-label="Close"
        (click)="modal.close('Cerrado desde la ventana')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      ¿Quieres confirmar la informacion? (Mira el resultado en consola)
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('No')">No</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('Si')">Si</button>
    </div>
  </div>
</ng-template>