<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="filtroSolicitud"
            (ngModelChange)="aplicarFiltro()">
        </div>
        <!-- <div *ngIf="mostrarSpinner" class="alert alert-info">
            Enviando!!!
          </div> -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div *ngIf="mostrarSpinner" class="card">
      <div class="card-header">
        <h4 class="card-title"> Solicitudes </h4>
      </div>
      <div class="card-body">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>



    <div *ngIf="misSolicitudes.length == 0 && !mostrarSpinner" class="card">
      <div class="card-header">
        <h4 class="card-title"> Solicitudes </h4>
      </div>
      <div class="card-body">
        <h5>Nada por ahora...</h5>
      </div>
    </div>

    <div *ngIf="misSolicitudes.length > 0 && !mostrarSpinner" class="card">
      <div class="card-header">
        <h4 class="card-title"> Solicitudes </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Fecha
              </th>
              <th>
                Equipo
              </th>
              <th>
                Descripción
              </th>
              <th>
                Estado
              </th>
              <th>
                Imágen
              </th>
              <th>
                Acción
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let solicitud of filtroSolicitudes | paginate: { itemsPerPage:3, currentPage: page}">
                <td>
                  {{ solicitud.fecha | date:'yyyy-MM-dd' }}
                </td>
                <td>
                  {{ solicitud.equipo }}
                </td>
                <td>
                  {{ solicitud.descripcion }}
                </td>
                <td [ngStyle]="getColorStyles(solicitud.estadoActual)">
                  {{ solicitud.estadoActual }}
                </td>
                <td style="width: 50mm;">
                  <img *ngIf="solicitud.urlImagen != null" [src]="solicitud.urlImagen" alt="Imagen guardada"
                    style="max-width: 100px; max-height: 100px;">
                </td>
                <!--
                  <td  style="width: 30mm;">
                    <i (click)="ver()" class="nc-icon nc-zoom-split icon-zoom"></i>
                    <i (click)="chat()" class="nc-icon nc-chat-33 icon-zoom" style="margin-left: 5mm;"></i>
                  </td>
                -->
                <td style="width: 30mm;">
                  <i (click)="ver(solicitud.id)" class="nc-icon nc-minimal-right icon-zoom"></i>

                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <pagination-controls (pageChange)="onPageChange($event)" previousLabel=&laquo; nextLabel=&raquo;>
        </pagination-controls>
      </div>
    </div>
  </div>
</div>